{#
/**
 * @file
 * Theme override to display Team node teaser
 */
#} 
{% set photo = '/' ~ base_path ~ umd_ds_directory ~ '/images/placeholder_team.jpg' %}
{% if content.field_team_image[0]['#item']._is_default is null %}
  {% set photo = file_url(content.field_team_image|field_target_entity.uri.value | image_style('square')) %}
{% endif %}

<div class="person-block-container">
	<div class="person-block-wrapper">
		<div class="person-image-container"><a href="{{ url }}" class="person-name"><img src="{{ photo }}" alt="Portrait of {{ node.title.value }}"></a></div>
		<div class="person-text" has-contact="">
			<div class="person-text-main-wrapper">
				<p class="person-name">
					<a href="{{ url }}" class="person-name">{{ node.title.value }}</a>
  			</p>
  		</div>
  		<div>
  			{{ content.field_ed_position }}		
  		</div>
		</div>
	</div>
</div>
