{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->
{% if teaser == true %} 
  <div class="post-block">
    <div class="post-image">
      {{ content.field_image }}
    </div>
    <div class="post-content text-left">
      <div class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </div>
      <div>{{ content.field_summary_for_feed_1 }}</div>
      <div class="post-bottom">  
        <div class="post-meta">
          <span class="post-categories">{{ content.body }}</span>-<span class="post-created"> {{date }} </span>
        </div>
      </div>  
    </div>
  </div>
<!-- End Display article for teaser page -->
{% else %}
<!-- Start Display article for detail page -->

<article{{ attributes.addClass(classes) }}>
  <div class="post-block">
    <div class="post-content">
      {{ title_prefix }}
         <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
      {{ title_suffix }}  
      
      <div class="post-meta">
        <span class="post-categories">
      		{{ content.field_news_type|field_value|safe_join(' | ')}}
        </span> /
        <span class="post-created"> {{ node.created[0].value|date('U')|format_date('readable_date') }} </span>
      </div>

    	<div class="post-thumbnail post-{{ post_format }}">
      	{% if post_format == 'gallery' and content.field_post_gallery %}
        	{{ content.field_post_gallery }}
      	{% else %}
        	{{ content.field_image }}
      	{% endif %}  
    	</div>
    	
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
       {{ content.body|field_value }}
      </div>
    
    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}